@using GuildComm.Web.ViewModels
@model List<GuildsAllViewModel>

@{
    ViewData["Title"] = "Admin dashboard";
}

<h1 class="text-white">All</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-white">#</th>
            <th scope="col" class="text-white">Name</th>
            <th scope="col" class="text-white">Realm</th>
            <th scope="col" class="text-white">Members</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th class="text-white" scope="row">@(i + 1)</th>
                <td class="text-white">@Model[i].Name</td>
                <td class="text-white">@Model[i].RealmName (@Model[i].RealmRegion)</td>
                <td class="text-white">@Model[i].MembersCount</td>
                <td><a class="btn btn-light btn-sm" asp-controller="Guilds" asp-action="Details" asp-route-id="@Model[i].Id">Details</a></td>

                <td><a class="btn btn-dark btn-sm" asp-area="Administration" asp-controller="Administration" asp-action="Disband" asp-route-id="@Model[i].Id">Disband</a></td>
            </tr>
        }
    </tbody>
</table>