@using GuildComm.Web.ViewModels.Guild
@model GuildDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Guild Details</h1>
<hr class="hr-2">
<div class="mx-auto">
    <div class="d-flex">
        <h3>Name: @Model.Name</h3>
    </div>
    <hr class="hr-2">
    <div class="d-flex">
        <h4>Realm: @Model.RealmName @Model.RealmRegion</h4>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Guild</th>
            <th scope="col">Level</th>
            <th scope="col">ItemLevel</th>
            <th scope="col">Realm</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Characters.Count; i++)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@Model.Characters[i].Name</td>
                <td>@Model.Characters[i].GuildName</td>
                <td>@Model.Characters[i].Level</td>
                <td>@Model.Characters[i].ItemLevel</td>
                <td>@Model.Characters[i].RealmName (@Model.Characters[i].RealmRegion)</td>
                <td><a class="btn btn-outline-danger btn-sm text-danger" asp-controller="Characters" asp-action="Remove" asp-route-id="@Model.Characters[i].Id">Remove</a></td>
                <td><a class="btn btn-outline-primary btn-sm text-primary" asp-controller="Characters" asp-action="Details" asp-route-id="@Model.Characters[i].Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>

