@using GuildComm.Web.ViewModels.Guild
@model GuildManageViewModel

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Manage your guild</h1>
<hr class="hr-2">
<div class="mx-auto">
    <div class="d-flex">
        <h3>Name: @Model.Name</h3>
    </div>
    <hr class="hr-2">
    <div class="d-flex">
        <h4>Realm: @Model.RealmName @Model.RealmRegion</h4>
    </div>
    <a class="btn btn-outline-primary btn-lg text-primary" asp-controller="Applications" asp-action="All" asp-route-id="@Model.Id">View Applications</a>
    <a class="btn btn-outline-success btn-lg text-success" asp-controller="Events" asp-action="Create" asp-route-id="@Model.Id">Create Event</a>
    <a class="btn btn-outline-success btn-lg text-success" asp-controller="Events" asp-action="All" asp-route-id="@Model.Id">All Events</a>
</div>
<h1 class="text-center">Members</h1>
<hr class="hr-2">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Level</th>
            <th scope="col">Rank</th>
            <th scope="col">Member Since</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Members.Count; i++)
        {
        <tr>
            <th scope="row">@(i + 1)</th>
            <td>@Model.Members[i].Character.Name</td>
            <td>@Model.Members[i].Character.Class</td>
            <td>@Model.Members[i].Character.Level</td>
            <td>@Model.Members[i].Rank</td>
            <td>@Model.Members[i].MemberSince</td>
            @if (Model.Members[i].Rank != "GuildeMaster")
            {
                <td><a class="btn btn-outline-danger btn-sm text-danger" asp-controller="Guilds" asp-action="RemoveMember" asp-route-id="@Model.Members[i].Id">Remove</a></td>
                <td><a class="btn btn-outline-success btn-sm text-success" asp-controller="Guilds" asp-action="Promote" asp-route-id="@Model.Members[i].Id" asp-route-guildId="@Model.Id">Promote</a></td>
                <td><a class="btn btn-outline-info btn-sm text-info" asp-controller="Guilds" asp-action="Demote" asp-route-id="@Model.Members[i].Id" asp-route-guildId="@Model.Id">Demote</a></td>
            }
            @*<td><a class="btn btn-outline-danger btn-sm text-danger" asp-controller="Characters" asp-action="Remove" asp-route-id="@Model.Members[i].Id">Remove</a></td>
        <td><a class="btn btn-outline-primary btn-sm text-primary" asp-controller="Characters" asp-action="Details" asp-route-id="@Model.Members[i].Id">Details</a></td>*@
        </tr>
        }
    </tbody>
</table>

