@using GuildComm.Web.ViewModels.Characters
@model CharacterRegisterInputModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <form method="post">
            <h2>Register your character</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Role"></label>
                <input asp-for="@Model.Role" class="form-control" />
                <span asp-validation-for="@Model.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Class"></label>
                <input asp-for="@Model.Class" class="form-control" />
                <span asp-validation-for="@Model.Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Level"></label>
                <input asp-for="@Model.Level" class="form-control" />
                <span asp-validation-for="@Model.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ItemLevel"></label>
                <input asp-for="@Model.ItemLevel" class="form-control" />
                <span asp-validation-for="@Model.ItemLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RealmName"></label>
                <select class="custom-select" id="realmName" name="realmName">
                    <option selected disabled>-- Choose Realm --</option>

                    @foreach (var realm in Model.Realms)
                    {
                        <option value="@realm.Name">@realm.Name - @realm.Region (@realm.RealmType)</option>
                    }

                </select>
                <span asp-validation-for="@Model.RealmName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register Character</button>
        </form>
    </div>
</div>

