@using GuildComm.Web.ViewModels.Applications
@model List<ApplicationsAllViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pending Applications</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@(i+1)</th>
                <td>@Model[i].CharacterName</td>
                <td>@Model[i].Country</td>
                <td>@Model[i].Role</td>
                <td><a class="btn btn-outline-light btn-sm text-light" asp-controller="Applications" asp-action="Details" asp-route-id="@Model[i].Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>