@using GuildComm.Web.ViewModels.Applications
@model ApplicationDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Application Details</h1>
<hr class="hr-2">
<div class="mx-auto">
    <div class="d-flex">
        <h3>Name: @Model.CharacterName</h3>
    </div>
    <hr class="hr-2">
    <div class="d-flex">
        <h4>Age: @Model.Age</h4>
    </div>
    <div class="mt-4">
        <h4>Country: @Model.Country</h4>
    </div>
    <div class="mt-4">
        <h4>Role: @Model.Role</h4>
    </div>
    <div class="mt-4">
        <h4>Experience: @Model.Experience</h4>
    </div>
    <div class="mt-4">
        <h4>Armory Link: <a href="@Model.ArmoryLink">Armory</a></h4>
    </div>
    <div class="mt-4">
        <a class="btn btn-outline-primary" href="/Applications/All">Back</a>
        <a class="btn btn-outline-danger btn text-danger" asp-controller="Applications" asp-action="Dismiss" asp-route-id="@Model.Id">Dismiss</a>
    </div>
</div>

