@using GuildComm.Web.ViewModels.Home
@model List<GuildsAllViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (this.User.Identity.IsAuthenticated)
    {
        @if (this.User.IsInRole("Admin"))
        {

            <h1 class="display-4 text-white">Welcome, Admin @this.User.Identity.Name</h1>
            <p class="text-white">Have fun with your guildies!</p>
        }
        else
        {
            <h1 class="display-4 text-white">Welcome @this.User.Identity.Name</h1>
            <p class="text-white">Have fun with your guildies!</p>
        }
    }
    else
    {
        <div class="mt-5">
            <h1 class="display-4 text-white font-weight-bold embiggen">Welcome</h1>
            <p class="text-white font-weight-bolder"><a href="/Identity/Account/Login" class="deco-none">Login</a> or <a href="/Identity/Account/Register" class="deco-none">Register</a> to meet your new guildies!</p>
        </div>
    }
</div>
<hr />

<div class="text-center mt-4">
    <h2 class="text-white">Popular Guilds</h2>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-white" scope="col">#</th>
            <th class="text-white" scope="col">Name</th>
            <th class="text-white" scope="col">Realm</th>
            <th class="text-white" scope="col">Members</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th class="text-white" scope="row">@(i + 1)</th>
                <td class="text-white">@Model[i].Name</td>
                <td class="text-white">@Model[i].RealmName (@Model[i].RealmRegion)</td>
                <td class="text-white">@Model[i].MembersCount</td>

                <td><a class="btn btn-outline-light btn-sm text-light" asp-controller="Applications" asp-action="Apply" asp-route-id="@Model[i].Id">Apply</a></td>
            </tr>
        }
    </tbody>
</table>

