@using GuildComm.Web.ViewModels.Users
@model GuildCommUsersListingModel

@{
    ViewData["Title"] = "Admin dashboard";
}

<h1 class="text-white">All Users</h1>

<a class="btn btn-light btn-lg" asp-area="Administration" asp-controller="Administration" asp-action="Index">Guilds</a>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-white">#</th>
            <th scope="col" class="text-white">Username</th>
            <th scope="col" class="text-white">Email</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Users.Count; i++)
        {
            <tr>
                <th class="text-white" scope="row">@(i + 1)</th>
                <td class="text-white">@Model.Users[i].Username</td>
                <td class="text-white">@Model.Users[i].Email</td>

                <td><a class="btn btn-dark btn-sm" asp-area="Administration" asp-controller="UserAdministration" asp-action="Ban" asp-route-id="@Model.Users[i].Id">Ban</a></td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link bg-light" href="#">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link bg-light"
                   asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link bg-light"
                   asp-route-page="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link bg-light" href="#">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link bg-light"
                   asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</nav>