@using GuildComm.Web.ViewModels.Users
@model GuildCommUserDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Profile Details</h1>
<hr class="hr-2">
<div class="mx-auto">
    <div class="d-flex">
        <h3>Usermame: @Model.Username</h3>
    </div>
    <hr class="hr-2">
    <div class="d-flex">
        <h4>Guild: @Model.GuildName</h4>
    </div>
    <div class="mt-4">
        <h4>Description:</h4>
        <div>
            <p>@Model.Description</p>
        </div>
    </div>
    <a class="btn btn-primary" href="/Users/UpdateDescription" role="button">Update Description</a>

    <hr class="hr-2">
    <h1 class="text-center">Characters</h1>
    <hr class="hr-2">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Guild</th>
                <th scope="col">Level</th>
                <th scope="col">ItemLevel</th>
                <th scope="col">Realm</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Characters.Count; i++)
            {
            <tr>
                <th scope="row">@i</th>
                <td>@Model.Characters[i].Name</td>
                <td>@Model.Characters[i].GuildName</td>
                <td>@Model.Characters[i].Level</td>
                <td>@Model.Characters[i].ItemLevel</td>
                <td>@Model.Characters[i].RealmName (@Model.Characters[i].RealmRegion)</td>
                <td><a class="btn btn-outline-danger btn-sm text-danger" asp-controller="Characters" asp-action="Remove" asp-route-id="@Model.Characters[i].Id">Remove</a></td>
                <td><a class="btn btn-outline-primary btn-sm text-primary" asp-controller="Characters" asp-action="Details" asp-route-id="@Model.Characters[i].Id">Details</a></td>
            </tr>
            }
        </tbody>
    </table>

    <hr class="hr-2">
    <h1 class="text-center">Guilds</h1>
    <hr class="hr-2">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Realm</th>
                <th scope="col">Members</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Guilds.Count; i++)
            {
            <tr>
                <th scope="row">@i</th>
                <td>@Model.Guilds[i].Name</td>
                <td>@Model.Guilds[i].RealmName (@Model.Guilds[i].RealmRegion)</td>
                <td>@Model.Guilds[i].MembersCount</td>
                <td><a class="btn btn-outline-primary btn-sm text-primary" asp-controller="Guilds" asp-action="Details" asp-route-id="@Model.Guilds[i].Id">Details</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>