@using GuildComm.Web.ViewModels.Users
@model GuildCommUserDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Profile Details</h1>
<hr class="hr-2">
<div class="mx-auto">
    <div class="d-flex">
        <h3>Usermame: @Model.Username</h3>
    </div>
    <hr class="hr-2">
    <div class="d-flex">
        <h4>Guild: @Model.GuildName</h4>
    </div>
    <div class="mt-4">
        <h4>Description:</h4>
        <div>
            <p>@Model.Description</p>
        </div>


    </div>
    <a class="btn btn-primary" href="/Users/UpdateDescription" role="button">Update Description</a>

    <h1 class="text-center">Characters</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Guild</th>
                <th scope="col">Level</th>
                <th scope="col">ItemLevel</th>
                <th scope="col">Realm</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Characters.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@Model.Characters[i].Name</td>
                    <td>@Model.Characters[i].GuildName</td>
                    <td>@Model.Characters[i].Level</td>
                    <td>@Model.Characters[i].ItemLevel</td>
                    <td>@Model.Characters[i].Realm.Name (@Model.Characters[i].Realm.Region)</td>
                </tr>
            }
        </tbody>
    </table>
</div>