@using GuildComm.Web.Models.Guild

@model GuildViewModel

<div class="card">
    <img src="~/Images/horde-banner.png" class="card-img-top" alt="horde-banner">
    <div class="card-body bg-dark text-white">
        <h5 class="card-title">@Model.Name - @Model.Realm</h5>
        <p class="card-text">This is dummy text for the guild description</p>
        <p class="card-text">Members: @Model.MembersCount</p>
    </div>
    <table class="table table-dark table-striped mb-0">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Rank</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.Members)
            {
                <tr>
                    <td>
                        <a asp-controller="Characters"
                       asp-action="Character"
                       asp-route-realm="@Model.Realm"
                       asp-route-charactername="@member.Name"
                       asp-route-namespace="@Model.NameSpace">
                            @member.Name
                        </a>
                    </td>
                    <td>@member.Class</td>
                    <td>@member.Rank</td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination bg-dark mb-0 d-flex justify-content-center">
        <li class="page-item">
            <a class="page-link bg-dark text-white mt-2 mb-2" asp-controller="Search"
               asp-action="Guilds"
               asp-route-realm="@Model.Realm"
               asp-route-guildname="@Model.Name"
               asp-route-namespace="@Model.NameSpace"
               asp-route-currentpage="@(Model.CurrentPage - 1)">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link bg-dark text-white mt-2 mb-2" asp-controller="Search"
               asp-action="Guilds"
               asp-route-realm="@Model.Realm"
               asp-route-guildname="@Model.Name"
               asp-route-namespace="@Model.NameSpace"
               asp-route-currentpage="@(Model.CurrentPage + 1)">Next</a>
        </li>
    </ul>
</div>
